<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
      <%- include('./partials/nav.ejs') %> 
    <div class="about-content">
        <h2>About Us</h2>
        <p>Welcome to The Insight Hub, your dedicated space for unraveling the complexities of technology, business, and personal growth. In an ever-evolving world, we believe in the power of clear, actionable insights to empower individuals and drive progress.</p>
        <p>Our mission is simple: to cut through the noise and deliver well-researched, engaging, and practical content that helps you stay ahead. Whether you're navigating the latest tech trends, seeking strategies for business success, or looking for ways to enhance your personal development journey, The Insight Hub is here to illuminate your path.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>