<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Spotting | <%= title %> </title>
    <link rel="stylesheet" href="/style.css">
    <style>
        body{
            max-width: 1200px;
            margin: 20px auto;
            padding: 0 20px;
        }
        p,h1,h2,h3,a,ul{
            margin: 0%;
            padding: 0%;
            text-decoration: none;
            color: #222;
        }
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        nav li{
            list-style-type: none;
            margin-left: 20px;
        }
        nav h1{
            font-size: 3em;
        }
        nav p,nav a{
            color: #777;
            font-weight:300;
        }
        footer{
            color: #777;
            text-align: center;
            margin: 80px auto 20px;
        }
        h2{
            margin-bottom: 40px;
        }
        .create-content{
            margin-left: 20px;
        }
        .create-content input,.create-content textarea{
           display: block;
           width: 100%;
           margin: 10px 0;
           padding: 8px;

        }
        .create-content form{
             max-width:400px;
            margin: 0 auto;
        }
        .create-content label{
            display: block;
            margin-top: 24px;
        }
        textarea{
            height: 120px;
        }
        .create-content button{
            margin-top: 20px;
            background-color: crimson;
            color: #fff;
            padding:6px;
            border: 0px;
            font-size: 1.2em;
            cursor: pointer;
        }

         .blogs-content{
            margin-left: 20px;
            margin-top: 40px;
        }
         .about-content{
            margin-left: 20px;
            margin-top: 40px;
        }
ul{
    display: flex;

}
    </style>
</head>